* {
	font-size: 17px;
	font-family: JetBrainsMono Nerd Font;
}

window#waybar {
	background: #292b2e;
	color: #000000;
}

#workspaces {
    background: #0b986a;
}
#pulseaudio {
    background: #b1e8d0;
}
#memory {
    background: #8edcb9;
}
#cpu {
    background: #69d0a3;
}
#battery {
    background: #4dc493;
}
#disk {
    background: #40b988;
}
#network {
    background: #32ae7e;
}
#clock.2 {
    background: #22a374;
}
#tray {
	background: #0b986a;
}

#workspaces button {
	padding: 2 5px;
	color: #000000;
}
#workspaces button.focused {
	color: #ffffff;
}
#workspaces button:hover {
	background: #0b986a;
	border: #0b986a;
}

#pulseaudio
#memory
#cpu
#battery
#disk
#network
#tray {
    color: #000000;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#tray,
#disk {
	padding: 0 12px;
}
